/**
 * Colors
 */

$primary: #021936;
$secondary: #0E2C55;
$tertiary: #FAB150;

$white: #fff;
$gray: #919FB2;

/**
 * Extra Breakpoints
 */

$screen-xl: 1600px;

/**
 * Fonts
 */

$font-size-base: 16px;
$serif: 'Merriweather', georgia, serif;
$sans: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
