/**
 * Breakpoints
 *
 * Set in ems to enable different layouts at different zoom levels
 * http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
 *
 */

/**
 * Colors
 */

$primary: #021936;
$secondary: #0E2C55;
$tertiary: #FAB150;

$white: #fff;
$gray: #919FB2;

/**
 * Margins
 */


/**
 * Fonts
 */

$font-size-base: 16px;
$serif: 'Merriweather', georgia, serif;
$sans: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
